<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Clientes</h1>
    <a th:href="@{/clientes/novo}">Novo Cliente</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Profissão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.name}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.rg}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.profissao}"></td>
                <td>
                    <a th:href="@{'/clientes/' + ${cliente.id}}">Detalhar</a> |
                    <a th:href="@{'/clientes/editar/' + ${cliente.id}}">Editar</a> |
                    <a th:href="@{'/clientes/excluir/' + ${cliente.id}}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
